body, html {
  height: 100%;
  background: url('../images/sunnyMountains.jpg');
  background-size: cover;
}
h1 {
  color: white;
  font-size: 130px;
  min-height: 110px;
  font-family: 'Poppins', sans-serif;
  width: 100%;
}
h3 {
  color: white;
  font-size: 16px;
  font-weight: 200;
}

.row {
  position: fixed;
  
}

.current {
  max-width: 200px;
  margin-left: 5%;
 
}




/* ========================
   Currrent Display Styles
   ======================== */

#currentWeatherContainer {
  background-color: rgba(255, 255, 255, 0.20);
  text-align: center;
  height: 450px;
}
.current-card h5 {
  font-size: 16px;
  color: white;
  font-weight: 200;
}

.current-card h3 {
  font-size: 20px;
  color: white;
  font-weight: 200;
}
.current-card h3.title {
  margin-bottom: 30px;
}

.current-card h5.label {
  margin-top: -10px;
  margin-bottom: 30px;
}

/* ========================
   Saved Search Display Styles
   ======================== */

.searches {
  background-color: rgba(255, 255, 255, 0.20);
  text-align: center;
  height: 250px;
}

.saved-search-button {
  background-color: rgba(255, 255, 255, 0); /*fulltransparent*/
  border: none;
}


/* ========================
   City Search Display Styles
   ======================== */

.city-search {
  max-width: 366px;
  max-height: 230px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.20);

 
}
.city-search-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.city-search-text-container h3{
  color: #FA2495;
  font-weight: 400;
  font-size: 20px;
}
.search-button-container {
  margin-top: -10px;
}
#cityInputLocation {
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  color: white;
  margin-top: 50px;
  width: 200px;
  border: solid #FA2495;
  border-width: .5px;
  border-radius: 25px;
 
}
#cityInputLocation::placeholder {
  color: rgba(255, 255, 255, 0.50); 
}

#search.btn {
border: solid white;
border-width: .5px;
color: #FA2495;
margin-top: 10px;
width: 200px;
border-radius: 25px; /* Adds rounding to the edges */
}

#additionalContent {
  max-width: 200px;
  background-color: rgba(255, 255, 255, 0);
  padding-left: -50px;
}

#additionalContent .large-temp {
 font-size: 90px;
 font-family: 'Poppins', sans-serif;
}

#additionalContent .large-status {
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
 }

/* Right Column: Additional Content */
.additionalContentCol {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  margin-left: -170px;
  max-height: 30%;
 
}

.outline-container {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 10% 10% 0 10%; 
  box-sizing: border-box;
}

.outline-container::after {
  content: "";
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 0;
  border: 4px solid rgb(255, 255, 255);
  border-top-left-radius: 20px;  
  border-top-right-radius: 20px; 
  border-bottom: none;          
  pointer-events: none;          
}


/* ========================
   Five Day Forcast Display Styles
   ======================== */
.five-day {
  width: 800px;
  height: 250px;
  background-color: rgba(255, 255, 255, 0);
  display: flex;             
  overflow: hidden;         
}

.five-day-card {
    background-color: rgba(173, 216, 230, 0.5);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(20% - 20px);
    height: 250px;
    min-width: 150px;
    margin-right: 5px;
    display: flex;                 
    flex-direction: column;                   
    text-align: center; 
}
  